.tasks-list {
  list-style: none;

  li {
    padding: 0.2em 0;
    display: flex;
    width: 100%;
  }

  .due-soon {
    color: red;
  }

  // ... link
  li > :last-child {
    margin-left: 20px;
    opacity: 0;
  }
  li:hover > :last-child {
    opacity: 1;
  }

  li > :nth-last-child(3) {
    flex-grow: 1;
  }

  li {
    padding: 0.3em 0;
  }

  li:last-of-type {
    border-bottom: none;
  }
}
