@import "./variables";

body {
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
}

.container {
  margin: 0 5%;
}

a,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

a:hover {
  color: lighten(black, 20%);
  text-decoration: underline;
}

.checkbox-container {
  display: inline;
  input[type="checkbox"] {
    opacity: 0;
  }

  .custom-checkbox {
    width: 1em;
    height: 1em;
    border: 2px solid black;
    font-size: 0.8em;
    border-radius: 10px;
    margin-right: 0.3em;
    display: inline-block;
    padding: 2px;
  }
  input[type="checkbox"]:not(:checked) ~ .custom-checkbox {
    color: white;
  }
}

label {
  padding-right: 0.3em;
}

a.button,
button {
  border-radius: 10px;
  border: none;
  padding: 0.3em;
  margin: 1em 0;
  background-color: $brand-bg-color;
  color: $brand-text-color;
  text-decoration: none;

  &:hover {
    background-color: lighten($brand-bg-color, 10%);
  }
}

small {
  display: block;
  font-style: italic;
}

@media screen and (max-width: 550px) {
  input[type="text"] {
    width: 100%;
  }
}
