@import "../../styles/variables";
.home {
  .hero {
    background-color: #ccc;
    color: #000;
    display: flex;

    .hero-content {
      align-items: center;
      margin: auto 5%;
      width: 50%;
      font-size: 3em;
      font-weight: 700;
      @media screen and (max-width: 800px) {
        width: 90%;
      }
    }

    width: auto;
    min-height: 60vh;
  }

  article {
    padding: 1em 5%;

    blockquote {
      font-size: 1.5em;
      padding: 5px 10%;

      span.attribution {
        margin-top: 0.5em;
        display: block;
      }
    }
  }

  .call-to-action {
    display: flex;
    justify-content: center;
  }

  a.button {
    border-radius: 10px;
    padding: 1em;
    background-color: $brand-bg-color;
    color: $brand-text-color;
    text-decoration: none;

    &:hover {
      background-color: lighten($brand-bg-color, 10%);
    }
  }
}
